name: Build and Publish Backup Image

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual triggering

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for tags and branches

      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 0.1.3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare Docker tags
        id: prep_tags
        run: |
          NEW_TAG=${{ steps.tag_version.outputs.new_tag }}
          # strip 'v' prefix
          VERSION=${NEW_TAG#v}
          MAJOR=$(echo $VERSION | cut -d. -f1)
          MINOR=$(echo $VERSION | cut -d. -f2)
          MAJOR_MINOR="$MAJOR.$MINOR"
          
          IMAGE=ghcr.io/${{ github.repository_owner }}/homevault-backup
          
          TAGS="${IMAGE}:${NEW_TAG},${IMAGE}:${MAJOR_MINOR},${IMAGE}:latest"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT

      - name: Extract metadata for Docker labels
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/homevault-backup

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./image
          push: true
          tags: ${{ steps.prep_tags.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          release_name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: |
            New release based on changes in the main branch.
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}